<tr><td class="label_td"><%= label_tag :address %>:</td><td><%= text_area_tag :address, r.address %><td></tr>
<tr><td class="label_td"><%= label_tag :apt %>:</td><td><%= text_field_tag :apartment, r.apartment, size: 5, maxlength: 5 %><td></tr>
<tr><td class="label_td"><%= label_tag :city %>:</td><td><%= text_field_tag :city, r.city %><td></tr>
<tr><td class="label_td"><%= label_tag :state %>:</td><td><%= text_field_tag :state, r.state, size: 2, maxlength: 2 %><td></tr>
<tr><td class="label_td"><%= label_tag :zip %>:</td><td><%= text_field_tag :zip, r.zip, size: 5, maxlength: 5 %><td></tr>
<%= telephone_form_row r.phone %>
