<tr><td class="label_td"><%= label_tag :bungalow_colony %>:</td><td><%= text_field_tag :name, r.name %><td></tr>
<%= telephone_form_row r.phone %>
<tr><td class="label_td"><%= label_tag :unit %>:</td><td><%= text_field_tag :unit, r.unit, size: 5, maxlength: 5 %></td></tr>
