<tr><td class="label_td"><%= label_tag :name %>:</td><td><%= text_field_tag :name, r.name %><td></tr>
<tr><td class="label_td"><%= label_tag :phone %>:</td><td><%= telephone_field_tag :phone, r.phone, size: 10, maxlength: 10 %></td></tr>
<tr><td class="label_td"><%= label_tag :unit %>:</td><td><%= text_field_tag :unit, r.unit, size: 5, maxlength: 5 %></td></tr>
