<%= form_for(@bungalow) do |f| %>
  <% if @bungalow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bungalow.errors.count, "error") %> prohibited this bungalow from being saved:</h2>

      <ul>
      <% @bungalow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
