<h1>Listing bungalows</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unit</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bungalows.each do |bungalow| %>
  <tr>
    <td><%= bungalow.name %></td>
    <td><%= bungalow.unit %></td>
    <td><%= bungalow.phone %></td>
    <td><%= link_to 'Show', bungalow %></td>
    <td><%= link_to 'Edit', edit_bungalow_path(bungalow) %></td>
    <td><%= link_to 'Destroy', bungalow, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bungalow', new_bungalow_path %>
