<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bungalow.name %>
</p>

<p>
  <b>Unit:</b>
  <%= @bungalow.unit %>
</p>

<p>
  <b>Phone:</b>
  <%= @bungalow.phone %>
</p>


<%= link_to 'Edit', edit_bungalow_path(@bungalow) %> |
<%= link_to 'Back', bungalows_path %>
