<%= engine_tag do %>
  <%= render :partial => 'errors', :object => @family, :as => :family if @family %>

  <%= form_tag families_path do %>
    <table>
      <tr><th colspan=4>All fields are required</th></tr>
      <tr><td colspan=4><i>(If there is only one adult in this family,<br />use either row and leave other row blank.)</i></td></tr>
      <tr>
        <th></th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
      <%= hidden_field_tag "adding_user_info", 1 if adding_user_info? %>
      <% [:father, :mother].each do |p| %>
      <% resident = current_or_new(p) %>
        <tr>
          <td><%= p.capitalize %>:</td>
          <% [:first, :last].each do |n| %>
            <td><%= text_field_tag "#{p}[#{n}_name]", resident.__send__("#{n}_name"), :size => 16 %></td>
          <% end %>
          <td><%= email_field_tag "#{p}[email]", resident.user ? resident.email : "", :size => 16 %></td>
        </tr>
      <% end %>
      <tr>
        <th />
        <th colspan=3><%= submit_tag "Save" %>&emsp;<%= link_to "Cancel", families_path %></th>
      </tr>
    </table>
  <% end %>
<% end %>
