<h1>Listing families</h1>

<table>
  <tr>
    <th>Home</th>
    <th>Bungalow</th>
    <th>Father</th>
    <th>Mother</th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.home_id %></td>
    <td><%= family.bungalow_id %></td>
    <td><%= family.father_id %></td>
    <td><%= family.mother_id %></td>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Family', new_family_path %>
